.board {
    border: 1px solid black;

    width: fit-content;
}

.board-r {
    font-size: 0;
}

.board-c {
    border: 1px solid black;
    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0;
}