.game {
    display: flex;
    justify-content: center;
}

.board {
    border: 1px solid black;

    width: fit-content;
}

.board-r {
    font-size: 0;
}

.board-c {
    border: 1px solid black;
    display: inline-block;

    width: 22px;
    height: 22px;
    margin: 0;
}

.info {
    margin-left: 10px;
}

.preview {
    border: 2px solid black;

    padding: 5px;
}

.figures {
    border: 2px solid black;

    padding: 5px;
    margin-bottom: 5px;
}

.figures-lines {
    border: 2px solid black;

    padding: 4px;
    margin: 0;
}

.options {
    border: 2px solid black;

    padding: 5px;
}