.game {
    display: flex;
    justify-content: center;
}

.board {
    border: 1px solid black;

    width: fit-content;
}

.board-r {
    font-size: 0;
}

.board-c {
    border: 1px solid black;
    display: inline-block;

    width: 22px;
    height: 22px;
    margin: 0;
}